* {
	font-family: FreeSans;
}

h5 {
	font-size: 100%;
	font-weight: bold;
	margin: 20px 0;
}

table {
	border-collapse: collapse;
	font-size: 85.7%;
	width: 100%;
}
td {
	padding: 5px;
	vertical-align: top;
}
th {
	font-weight: bold;
	height: 30px;
	text-align: center;
}

ul { margin: 20px 0 }

blockquote {
	font-weight: italic;
	margin: 20px;
	text-align: right;
}
blockquote:before { content: '«'; }
blockquote:after { content: '»'; }
div.epigraph {
	float: right;
	text-align: right;
	width: 60%;
}
